<footer>
    <div class="footer_container">
        <div class="terms">
            <div class="logo">
                <img src="../../assets/png-removebg-preview.png" class="photo">
                <p class="title">{{ 'FOOTER.RAILWAY' | translate}}</p>
            </div>
            
            <a routerLink="/terms">{{ 'FOOTER.TERMS' | translate}}</a>
            <p class="terms_p">{{ 'FOOTER.RESERVED' | translate}}</p>
        </div>
        
        <div class="from">
            <h4>{{ 'FOOTER.TBILISITOREGIONS' | translate}} </h4>
            <div class="from_desinations">
                <p>{{ 'FOOTER.TBILISIBATUMI' | translate}}</p>
                <p>{{ 'FOOTER.TBILISIPOTI' | translate}}</p>
                <p>{{ 'FOOTER.TBILISIKUTAISI' | translate}}</p>
                <p>{{ 'FOOTER.TBILISIZUGDIDI' | translate}}</p>
            </div>
        </div>
        <div class="to">
            <h4>{{ 'FOOTER.REGIONSTOTBILISI' | translate}} </h4>
            <div class="to_desinations">
                <p>{{ 'FOOTER.BATUMITBILISI' | translate}}</p>
                <p>{{ 'FOOTER.POTITBILISI' | translate}}</p>
                <p>{{ 'FOOTER.KUTAISITBILISI' | translate}}</p>
                <p>{{ 'FOOTER.ZUGDIDITBILISI' | translate}}</p>
            </div>
        </div>
        <div class="follow-container">
            <h4>{{ 'FOOTER.FOLLOW' | translate}}</h4>
            <div class="follow">
        
                    <a href="https://www.facebook.com/">
                        <img src="../../assets/fb.webp">
                        <p>Facebook</p>
                    </a>
     

                    <a href="https://www.instagram.com/">
                        <img src="../../assets/instagram.png">
                        <p>Instagram</p>
                    </a>
   
        
                    <a href="https://www.linkedin.com">
                        <img src="../../assets/linkedin-icon-2.svg">
                        <p>Linkdin</p>
                    </a>
                
            </div>
        </div>

    </div>
</footer>